<a href="https://colab.research.google.com/github/gombergere/arthomas/blob/master/PipeXL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#https://towardsdatascience.com/https-medium-com-tirthajyoti-build-pipelines-with-pandas-using-pdpipe-cade6128cd31
#Art et maniere de traiter un fichier de donneees Csv
#...c'est un passage obligÃ© du DL, pas passionnant, mais faut faire avec.

In [16]:
import pandas as pd
import numpy as np
!pip install pdpipe

Requirement already satisfied: pdpipe in /usr/local/lib/python3.6/dist-packages (0.0.31)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.6/dist-packages (from pdpipe) (2.1.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from pdpipe) (4.28.1)
Requirement already satisfied: pandas>=0.18.0 in /usr/local/lib/python3.6/dist-packages (from pdpipe) (0.25.3)
Requirement already satisfied: strct in /usr/local/lib/python3.6/dist-packages (from pdpipe) (0.0.29)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.18.0->pdpipe) (2.6.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.18.0->pdpipe) (1.17.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.18.0->pdpipe) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.18.0->pdpipe) (1.12.0)

In [17]:
import pdpipe as pdp

/usr/local/lib/python3.6/dist-packages/pdpipe/__init__.py:48: UserWarning: Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/pdpipe/__init__.py", line 42, in <module>
    from . import sklearn_stages
  File "/usr/local/lib/python3.6/dist-packages/pdpipe/sklearn_stages.py", line 6, in <module>
    from skutil.preprocessing import scaler_by_params
ModuleNotFoundError: No module named 'skutil'

  warnings.warn(tb)
/usr/local/lib/python3.6/dist-packages/pdpipe/__init__.py:50: UserWarning: pdpipe: Scikit-learn or skutil import failed. Scikit-learn-dependent pipeline stages will not be loaded.
  "pdpipe: Scikit-learn or skutil import failed. Scikit-learn"

In [6]:
from google.colab import files
file=files.upload()

Saving USA_Housing.csv to USA_Housing.csv

In [0]:
#df sera le symbole simplifiÃ© du fichier
df = pd.read_csv("USA_Housing.csv")

In [37]:
#le chiffre 2 reprÃ©sente le nb de dÃ©cimales
round(df.sample(3),2)

      Avg. Area Income  ...  House_size
2124          65627.05  ...         Big
2860          69876.36  ...         Big
1645          71639.30  ...      Medium

[3 rows x 8 columns]

In [9]:
df.shape

(5000, 7)

In [10]:
df.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [11]:
round(df.describe().T,2)

                               count        mean  ...         75%         max
Avg. Area Income              5000.0    68583.11  ...    75783.34   107701.75
Avg. Area House Age           5000.0        5.98  ...        6.65        9.52
Avg. Area Number of Rooms     5000.0        6.99  ...        7.67       10.76
Avg. Area Number of Bedrooms  5000.0        3.98  ...        4.49        6.50
Area Population               5000.0    36163.52  ...    42861.29    69621.71
Price                         5000.0  1232072.65  ...  1471210.20  2469065.59

[6 rows x 8 columns]

In [0]:
# crÃ©er un code pour une grandeur
def size(n):
    if n<=4:
        return 'Small'
    elif 4<n<=6:
        return 'Medium'
    else:
        return 'Big'

df['House_size']=df['Avg. Area Number of Rooms'].apply(size)

In [0]:
df['House_size']=df['Avg. Area Number of Rooms'].apply(size)

In [38]:
round(df.sample(3),2)

      Avg. Area Income  ...  House_size
135           74411.06  ...         Big
1732          54858.82  ...      Medium
2697          60891.73  ...         Big

[3 rows x 8 columns]

In [0]:
drop_age = pdp.ColDrop('Avg. Area House Age')

In [0]:
df2 = drop_age(df)

In [39]:
round(df2.sample(3))

      Avg. Area Income  ...  House_size
4372           85207.0  ...         Big
96             66264.0  ...         Big
199            59363.0  ...         Big

[3 rows x 7 columns]

In [40]:
drop_address=pdp.ColDrop('Address')
df21=drop_address(df2)
round(df21.sample(3))

      Avg. Area Income  Avg. Area Number of Rooms  ...      Price  House_size
2268           89511.0                        8.0  ...  1580727.0         Big
1937           66644.0                        6.0  ...  1450770.0      Medium
850            63596.0                        7.0  ...   864703.0         Big

[3 rows x 6 columns]

In [21]:
pipeline = pdp.ColDrop('Avg. Area House Age')
pipeline+= pdp.OneHotEncode('House_size')
df3 = pipeline(df)
round(df3.sample(3))

      Avg. Area Income  ...  House_size_Small
612            84090.0  ...                 0
1223           62559.0  ...                 0
3739           57847.0  ...                 0
2780           78734.0  ...                 0
1243           56281.0  ...                 0

[5 rows x 8 columns]

In [22]:
  def price_tag(x):
    if x>250000:
        return 'keep'
    else:
        return 'drop'
pipeline = pdp.ColDrop('Avg. Area House Age')
pipeline+= pdp.OneHotEncode('House_size')
pipeline+=pdp.ApplyByCols('Price',price_tag,'Price_tag',drop=False)
df4 = pipeline(df)
df4.shape

(5000, 9)

In [41]:
round(df4.sample(3),2)

      Avg. Area Income  ...  House_size_Small
1662          76388.55  ...                 0
289           57782.42  ...                 0
4604          56631.90  ...                 0

[3 rows x 9 columns]

In [42]:
pipeline = pdp.ColDrop('Avg. Area House Age')
pipeline+= pdp.OneHotEncode('House_size')
pipeline+=pdp.ApplyByCols('Price',price_tag,'Price_tag',drop=False)
pipeline+=pdp.ValDrop(['drop'],'Price_tag')
pipeline+= pdp.ColDrop('Price_tag')
df5 = pipeline(df)
df5.shape

(4990, 8)

In [0]:
#Scikit-learn scaling
pipeline_scale = pdp.Scale('StandardScaler',exclude_columns=['House_size_Medium','House_size_Small'])
df6 = pipeline_scale(df5)
round(df6.sample(5),3)

In [0]:
pipeline_tokenize=pdp.TokenizeWords('Address')

In [0]:
df7 = pipeline_tokenize(df5)

In [46]:
df7.sample(3)

      Avg. Area Income  ...  House_size_Small
1983      68570.082280  ...                 0
3069      35454.714659  ...                 0
3346      73197.707659  ...                 0

[3 rows x 8 columns]

In [0]:
def extract_state(token):
    return str(token[-2])

In [0]:
pipeline_state = pdp.ApplyByCols('Address',extract_state,result_columns='State')

In [0]:
df8=pipeline_state(df7)

In [51]:
round(df8.sample(3),3)

      Avg. Area Income  ...  House_size_Small
4604         56631.895  ...                 0
3468         67855.245  ...                 0
764          77587.947  ...                 0

[3 rows x 8 columns]